@import url('https://fonts.googleapis.com/css?family=Be%20Vietnam%20Pro:700|Noto%20Sans:400');

:root
{
	--text: #f8f8fc;
	--background: #0c0a15;
	--primary: #4126ed;
	--secondary: #907bee;
	--accent: #6e50f4;
}

*
{
	scroll-behavior: smooth;
	box-sizing: border-box;
}

body
{
	font-family: 'Noto Sans', sans-serif;
	font-weight: 400;
	margin: 0;
	color: var(--text);
	background: var(--background);
	background-image: url('bg.png');
	background-size: cover;
	display: flex;
	flex-direction: column;
}

h1, h2, h3, h4, h5
{
	font-family: 'Be Vietnam Pro';
	margin: 0;
	font-weight: 700;
}

html { font-size: 100%; }
h1 { font-size: 3.053rem; }
h2 { font-size: 2.442rem; }
h3 { font-size: 1.954rem; }
h4 { font-size: 1.563rem; }
h5 { font-size: 1.250rem; }
mall { font-size: 0.800rem; }

header
{
	display: flex;
	flex-direction: row;
	padding: 10px;
	/* height: 100%; */
	align-items: center;
	user-select: none;
}

header h2
{
	flex: 1;
}

nav
{
	width: 30%;
	display: flex;
	flex-direction: row;
	gap: 10px;
	font-size: 1.15rem;
}

nav-item
{
	background-color: #f8f8fc15;
	display: flex;
	padding: 5px 0;
	border-radius: 4px;
	justify-content: center;
	align-items: center;
	flex: 1;
	transition: 0.3s ease;
}

nav-item:hover
{
	cursor: pointer;
	background-color: #f8f8fc3f;
}

main
{
	display: flex;
	height: calc(100vh - 100px);
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

landing-button
{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #4026ed4b;
	font-size: 1.25rem;
	font-weight: 600;
	padding: 15px 25px;
	border-radius: 4px;
	transition: 0.3s ease;
	user-select: none;
}

landing-button:hover
{
	cursor: pointer;
	background-color: #4026edb9;
	padding: 15px 35px;
	border-radius: 8px;
}

modal-container
{
	display: flex;
	visibility: hidden;
	position: fixed;
	z-index: 1;
	justify-content: center;
	align-items: center;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
}

modal-box
{
	background-color: #0c0a15a6;
	color: #f8f8fc;
	backdrop-filter: blur(4px);
	margin: auto;
	display: flex;
	flex-direction: column;
	padding: 20px;
	border-radius: 4px;
	width: 80%;
}

modal-content span
{
	font-weight: 700;
	text-align: justify;
}

modal-content a, modal-content a:active, modal-content a:hover, modal-content a:visited
{
	text-decoration: underline;
	color: white;
}

modal-content ul
{
	margin-top: -2px;
	list-style-type: square;
}

.close
{
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover, .close:focus
{
	color: #393e46;
	text-decoration: none;
	cursor: pointer;
}

footer
{
	height: 31px;
	display: flex;
	opacity: 0.25;
	justify-content: center;
	align-items: center;
	user-select: none;
}